{% extends "event/event_master.html" %}

{% block content %}
<section id="event">
  <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-12" style="float:none; margin: 0px auto;">
    <h1 class="event-title">{{ event.title }}</h1>
    {% if event.expired %}
      <p>This event is over :(</p>
    {% else %}
      <p class="event-location">
        <span class="header">Where: </span>
        {{ event.where }}
      </p>
      <p class="event-time">
        <span class="header">When: </span>
        {{ event.friendly_timestamp }}
      </p>
      <p class="event-description">
        {{ event.description }}
      </p>
      {% if event.registration_limit == 0 or regs|length < event.registration_limit %}
        {# Spots available #}

        <form method="POST" action="{{ url_for('.register', id=event.event_id) }}">
          <div class="container">
            <div class="row">
              {% for field in form.errors %}
              {% for error in form.errors[field] %}
                <p class="text-danger">{{ error }}</p>
              {% endfor %}
              {% endfor %}
              <p class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                Register now! <span style="font-weight:600">{{ event.registration_limit - regs|length }}</span> spots are still available.
              </p>
              {{ form.csrf_token }}
              <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form.first_name.label }} {{ form.first_name(class="form-control") }}
              </div>
              <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ form.last_name.label }} {{ form.last_name(class="form-control") }}
              </div>
              <div class="form-group col-lg-12 col-md-12 col-xm-12 col-xs-12">
                {{ form.email.label }} {{ form.email(class="form-control") }}
              </div>
              <div class="form-group text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="submit" class="btn btn-primary form-control text-center" style="max-width:300px" value="Register"/>
              </div>
            </div>
          </div>
        </form>
      {% else %}
        We're sorry! Registration for this event is full :(
        {# TODO - should we add a waiting list? #}
      {% endif %}
    {% endif %}
    <hr>
  </div>

  {% if user.is_admin %}
    <hr/>
    <div class="event-admin col-lg-8 col-md-8 col-sm-8 col-xs-12" style="float:none; margin: 0px auto;">
      <h2>Event Administration</h2>
      {% if allregs|length == 0 %}
        <p>Nobody has registered yet :(</p>
      {% else %}
        <h3>Registrants</h3>
        <table class="event-admin-reg-table">
          <tr><th>Name</th><th>Email</th><th>Confirmed</th></tr>
        {% for reg in allregs %}
          <tr>
            <td>{{ reg.first_name }} {{ reg.last_name }}</td>
            <td>{{ reg.email }}</td>
            <td>
              {% if reg.email_confirmed %}
                <span class="fa fa-check-circle glyphicon glyphicon-ok-circle icon-ok-circle" style="color:green"/>
              {% else %}
                <span class="fa fa-minus-circle glyphicon glyphicon-minus-sign icon-minus-sign"/>
              {% endif %}
            </td>
          </tr>
        {% endfor %}
        </table>
      {% endif %}
    </div>
  {% endif %}
</section>
{% endblock %}
