{% extends "event/event_master.html" %}

{% block content %}
<section id="event-reg">
<div class="container">
  <div class="row">
    <h1 class="event-title text-center col-xs-12 col-sm-12 col-md-12 col-lg-12">{{ event.title }}</h1>
    <p class="col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      <span style="font-weight:600">Thank you!</span>
      Your registration is complete and we are holding a spot for you! If your plans change and you can't make it
      please let us know at <a href="mailto:mail@phorge.co">mail@phorge.co</a> so we can open the spot up for somebody else.
    </p>
    <p class="col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      See you at <span style="font-weight:600">{{ event.where }}</span> on <span style="font-weight:600">{{ event.friendly_timestamp }}</span>!
    </p>
  </div>
</div>
</section>
{% endblock %}
