{% extends "event/event_master.html" %}

{% block content %}
<section id="event-reg">
<div class="container">
  <div class="row">
    <p class="col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      {% if reg.email_confirmed %}
        You have already registered for this event and we've confirmed your spot! If you need to change your reservation
        please email us at <a href="mailto:mail@phorge.co">mail@phorge.co</a>.
      {% else %}
        It looks like you may have already attempted to register for this event with {{ reg.email }}. Please check your
        email for the link to confirm your registration. If you don't see it, try looking in the spam/junk folder.
      {% endif %}
    </p>
  </div>
</div>
</section>
{% endblock %}
