{% extends "event/event_master.html" %}

{% block content %}
<section id="event-reg">
<div class="container">
  <div class="row">
    <p class="col-xs-12 col-sm-10 offset-sm-1 col-md-6 offset-md-3 col-lg-6 offset-lg-3">
      <span style="font-weight:600">Important!</span>
      Your registration is not complete. We have sent an email to {{ reg.email }} with a link to confirm your registration.
      Please open this email and click the link to complete your registration.
    </p>
  </div>
</div>
</section>
{% endblock %}
