{% extends "event/event_master.html" %}

{% block content %}
<section id="event-reg">
<div class="container">
  <div class="row">
    <p class="col-xs-12 col-sm-10 col-md-6 col-lg-6">
      We're sorry - we couldn't find that event registration :(
    </p>
  </div>
</div>
</section>
{% endblock %}
