@font-face {
    font-family: Blowbrush;
    src: url(fonts/blowbrush.otf);
}

@font-face {
    font-family: Kiona;
    src: url(fonts/Kiona-Regular.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
    color: #001A33;
    top: 0;
}

#hero {
  background: #2d2e2d;
  height: 100vh;
}

.downArrow{
	position: absolute;
	left: 45%;
  bottom: 6%;
}

#arrow {
  width: 10vw;
  height: auto;
  margin-top: 15vh;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-30px);
    -ms-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  60% {
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    -webkit-transform: translateY(-15px);
    transform: translateY(-15px);
  }
}

h1, h2, h3, h4 {
  font-family: Kiona;
}

.title {
  margin: 5vw 0 2vw;
}

.orange {
  color: #D25A09;
}

#logo {
  font-size: 15vw;
  font-family: Blowbrush;
  margin-bottom: 0
}

#tagline {
  font-size: 4vw;
  font-family: Kiona;
  color: #D25A09;
  margin-top: -4vw
}

.info {
  margin: 3vw 0;
}

.company-img {
  width: auto;
  height: 50px;
  margin: 1.7vw
}

.article {
  margin: 0 0 2vw 0;
}

#mc_embed_signup {
  background: #fff;
  clear: left;
  font: 14px Helvetica, Arial, sans-serif;
  width: 100%;
}
/* workaround modal-open padding issue */
body.modal-open {
    padding-right: 0 !important;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

hr {
    max-width: 120px;
    border-width: 3px;
    opacity: 0.08;
    margin-top: 25px;
    margin-bottom: 25px;
}

hr.light {
    border-color: #fff;
    opacity: 1;
}

hr.primary {
    border-color: #433A3F;
    opacity: 1;
}

a {
    color: #007FFF;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}

a:hover,
a:focus {
    /*color: #222;*/
    /*outline: 0;*/
}

p {
    font-size: 17px;
    line-height: 1.7;
    margin-bottom: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.text-normal {
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.wide-space {
    letter-spacing: 2px;
}

.icon-lg {
    font-size: 50px;
    line-height: 18px;
}

.bg-primary {
    background-color: #433A3F;
}

.bg-alt {
    background-color: #fff;
}

.text-faded {
    color: rgba(245, 245, 245, 0.7);
}

.text-dark {
    color: #001A33;
}

.text-light {
    color: #fff;
}

.text-light:hover, .text-light:focus {
    /*color: #eee;*/
    text-decoration: none;
}

.text-primary {
    color: #433A3F !important;
}

section {
    padding: 70px 0;
}

aside {
    padding: 45px 0;
}

footer {
    padding: 40px 45px 45px;
}

footer h4, footer h6 {
    color: #fff;
}

.navbar {
    border-color: rgba(35, 35, 35, .05);
    background-color: #fff;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    transition: all .4s;
}

.navbar-brand {
    color: #433A3F;
    padding: 1px;
    line-height: 1.90em;
    -webkit-transition: padding .2s ease-in;
    -moz-transition: padding .2s ease-in;
    transition: padding .2s ease-in;
    float: none;
    font-family: Blowbrush;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #007FFF;
}

.navbar .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #001A33;
}

.navbar .navbar-toggle, .navbar-default .navbar-collapse {
    border-color: transparent;
}

.navbar .navbar-nav > li > a,
.navbar .navbar-nav > li > a:focus {
    font-size: 12px;
    color: #001A33;
    text-transform: uppercase;
}

.navbar .navbar-nav > li > a:hover,
.navbar .navbar-nav > li > a:focus:hover {
    color: #007FFF;
}

.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.active:focus {
    color: #007FFF !important;
    background-color: transparent;
}

/* responsive nav */
@media (max-width: 48em) {
    .navbar .navbar-nav > .nav-item {
        float: none;
        margin-left: .1rem;
    }

    .navbar .navbar-nav {
        float: none !important;
    }
}

@media (min-width: 48em) {
    .navbar {
        border-color: transparent;
        background-color: #fff;
        min-height: 60px;
    }

    .navbar-brand {
        color: #433A3F;
        float: left;
        padding-left: 1px;
    }

    .navbar .navbar-brand:hover,
    .navbar .navbar-brand:focus {
        color: #001A33;
    }

    .navbar .navbar-nav > li > a,
    .navbar .navbar-nav > li > a:focus {
        color: #001A33;
        letter-spacing: 1px;
    }

    .navbar .navbar-nav > li > a:hover,
    .navbar .navbar-nav > li > a:focus:hover {
        color: #001A33;
    }

    #topNav {
        background-color: #fff;
    }

}

header {
    position: relative;
    min-height: auto;
    text-align: center;
    color: #001A33;
    width: 100%;
    background-color: #fff;
}

header .header-content {
    position: relative;
    width: 100%;
    padding: 100px 15px;
    text-align: center;
    z-index: 2;
}

header .header-content .inner h1 {
    margin-top: 0;
    margin-bottom: 0;
}

header .header-content .inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: #222;
}

@media (min-width: 34em) {
    .icon-lg {
        font-size: 80px;
    }

    header {
        min-height: 50%;
    }

    .first-home {
        min-height: 100%;
    }

    header .header-content {
        position: absolute;
        top: 50%;
        padding: 0 50px;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    header .header-content .inner {
        margin-right: auto;
        margin-left: auto;
        max-width: 1000px;
    }

    header .header-content .inner h1 {
        font-size: 53px;
    }

    header .header-content .inner p {
        margin-right: auto;
        margin-left: auto;
        max-width: 80%;
        font-size: 18px;
    }

    section {
        min-height: 600px;
        padding: 100px 0;
    }

}

.list-group-item, .card-footer {
    background-color: transparent;
}

textarea {
    resize: none;
}

.call-to-action h2 {
    margin: 0 auto 20px;
}

.btn.btn-primary {
    background-color: transparent;
    border: 1px solid #433A3F;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
    color: #433A3F;
}

.btn.btn-primary:hover {
    opacity: 0.7;
}

.btn-outline-primary {
    border-color: #433A3F;
    color: #433A3F;
}

.btn-outline-primary:hover {
    background-color: #433A3F;
    color: #fff;
}

.btn-primary-outline {
    border-color: #433A3F;
    color: #433A3F;
}

.btn-primary-outline:hover {
    background-color: #433A3F;
    color: #fff;
}

.btn-outline-light:hover {
    color: #433A3F;
}

.border-primary {
    border-color: #433A3F !important;
}

.btn-xl {
    padding: 15px 30px;
    font-size: 20px;
}

::-moz-selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

::selection {
    text-shadow: none;
    color: #fff;
    background: #222;
}

img::selection {
    color: #fff;
    background: 0 0;
}

img::-moz-selection {
    color: #fff;
    background: 0 0;
}

#one {
    background-color: #F4F5F7 !important;
}

#two {
    background-color: #FAFAFA;
}

#first {
    background: linear-gradient(90deg, #4D547F 66.666%, #b1c0cb 34.334%);
}

#last {
    background-color: #ECEFF1;
}

.text-salmon {
    color: #FA7774;
}

.text-mint {
    color: #3D5A6C;
}

.border-salmon {
    border: 1px solid #FA7774;
}

.border-mint {
    border: 1px solid #3D5A6C;
}

.card-stuff {
    color: #2c3970 !important;
    border: none;
    box-shadow: 10px 10px 5px rgba(13, 71, 161, .1);
    border-left: 3px solid #FA7774;
}

#footer {
    background: #2D2E2D;
}

#hero-header-row {
    margin-right: 2vw;
}

@media (max-width: 768px) {
    #first {
        background: linear-gradient(180deg, #4D547F 52.000%, #b1c0cb 48.000%);
    }

    #footer {
        background: #2D2E2D;
    }

    #hero-header-row {
        margin-right: 0 !important;
    }
}

#event span.header {
    font-weight: 600;
}

#event form {
    padding:15px;
    border:solid 1px #2D2E2D;
    border-radius:4px;
}

.event-admin-reg-table {
    width: 100%;
}

.event-admin-reg-table th, .event-admin-reg-table td {
    border: 1px solid black;
    border-collapse: collapse;
    padding:4px;
}
