{% extends "blog/blog_master.html" %}

{% block content %}
<section id="posts">
  <div class="blog-header">
    <div class="container">
      <h1 class="blog-title">{{ blog_title }}</h1>
      <p class="lead blog-description">{{ blog_description }}</p>
    </div>
  </div>
  <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-12" style="float:none; margin: 0px auto;">
  {% for blog in blog_posts %}
    <div class="blog-post" >
      <h2 class="blog-post-title">
        <a href="{{ url_for("Blog.blog_post", title=blog.title) }}">{{ blog.title }}</a>
      </h2>
      <p class="blog-post-meta">Posted by {{ blog.user }} on {{ blog.friendly_timestamp }}</p>
      <p>{{ blog.summary }}...<a href="{{ url_for("Blog.blog_post", title=blog.title) }}"> Continue reading</a></p>
      <hr>
    </div>
  {% else %}
   <div class="card border-mint rounded my-5 bg-transparent  col-lg-8 col-md-8 col-sm-6 col-xs-12" style="float:none; margin: 0px auto;">
      <div class="card-header bg-transparent text-center text-primary card-title"></div>
      <div class="card-body text-dark">
        <p class="card-text">No entries to display</p>
      </div>
    </div>
  {% endfor %}
    <div>
    {% if current_user.is_admin %}
    <a class="btn btn-primary" href="{{ url_for("Blog.blog_new") }}">New post</a>
    {% endif %}
    </div>
  </div>
</section>
{% endblock %}