{% extends "blog/blog_master.html" %}

{% block content %}
<section id="post">
  <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-12" style="float:none; margin: 0px auto;">
    <h1 class="blog-title">{{ post.title }}</h1>
    <p class="blog-description">
      Posted by {{ post.user }} on {{ post.friendly_timestamp }}
    </p>
    <div>
      {{ post.html_content }}
    </div>
    <hr>

    <div style="padding-bottom: 30px;">
      {% if current_user.is_admin %}
      <a class="btn btn-primary" href="{{ url_for("Blog.blog_edit", title=post.title) }}">Edit</a>
      {% endif %}
    </div>
    <div>
        <a class="btn btn-primary" href="{{ url_for("Blog.home") }}">Return to blog list</a>
    </div>
  </div>

</section>
{% endblock %}