{% extends "blog/blog_master.html" %}

{% block content %}
<section id="post">
  <div class=" col-lg-8 col-md-8 col-sm-8 col-xs-12" style="float:none; margin: 0px auto;">
    <form>
      <div data-editable data-name="title" class="title">
        <h1>
          {% if post %}
          {{ post.title }}
          {% else %}
          Blog title
          {% endif %}
        </h1>
      </div>
      <div>
        <div data-editable data-name="content" class="content">
          <p>
            {% if post %}
            {{ post.html_content }}
            {% else %}
            Content should go here
            {% endif %}
          </p>
        </div>
      </div>
      <hr>
      <div>
        <a class="btn btn-primary" href="{{ url_for("Blog.home") }}">Return to blog list</a>
      </div>
    </form>
  </div>

</section>
{% endblock %}

{% block styles %}
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bower_components/ContentTools/build/content-tools.min.css") }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/editor.css") }}">
{% endblock %}

{% block scripts %}
  <script src="{{ url_for("static", filename="bower_components/ContentTools/build/content-tools.min.js") }}"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script>
    window.addEventListener('load', function(){
    // initialize the editor
    var editor = ContentTools.EditorApp.get();
    editor.init('*[data-editable]', 'data-name');

    editor.addEventListener('saved', function(event){
      // Check that something changed

      var regions = editor.regions();

      if(Object.keys(regions).length === 0){
        return;
      }

      {% if post %}
      var post_id = {{ post.post_id }};
      {% else %}
        var post_id = null;
      {% endif %}

      // Set the editor as busy while we save our changes
      this.busy(true);

      // Collect the contents of each region into a FormData instance
      var data = new FormData();
      for(var name in regions){
        if(regions.hasOwnProperty(name)){
          {#console.log(name, regions[name].html());#}
          data.append(name, regions[name].html());
        }
      }
      data.append("post_id", post_id);

      {# Send the server the data #}
      axios.post("{{ url_for("Blog.blog_save") }}", data).then(function(event){
        console.log("got", event, "back from the server");
        window.location = event.data;
      }).catch(function(error){
        editor.busy(false);
        console.log(error);
        new ContentTools.FlashUI('no');
      });


    });
  });

  </script>
{% endblock %}