<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login V15</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/png" href="{{ url_for("static", filename="img/favicon.ico") }}"/>
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bower_components/bootstrap/dist/css/bootstrap.min.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bower_components/font-awesome/css/font-awesome.min.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/style.css") }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="css/login.css") }}">


</head>
<body>
<div class="login-page">
  <div class="form">
    <h1>Login to <i class="phorge-font">PHORGE</i></h1>
    <form class="login-form" method="post">
      {{ login_form.csrf_token }}
      {{ login_form.hidden_tag() }}
      <div class="input-group">
        {{ login_form.username(placeholder="Email/username", class_="form-control") }}
      </div>
      <div class="input-group">
        {{ login_form.password(placeholder="Password", class_="form-control") }}
      </div>
      <button class="btn btn-primary">login</button>
    </form>
  </div>
</div>

<script src="{{ url_for("static", filename="bower_components/jquery/dist/jquery.min.js") }}"></script>
<script src="{{ url_for("static", filename="bower_components/bootstrap/dist/js/bootstrap.min.js") }}"></script>

</body>
</html>
