<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{ page_title }}</title>
  {% block meta %}
    <meta name="description" content="Phorge, Inc."/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta property="og:locale" content="en_US"/>
    <meta property="og:url" content="{{ url_for("Main.home") }}"/>
    <meta property="og:type" content="website"/>
    <meta property="og:site_name" content="{{ site_name }}"/>
    <meta property="og:title" content="Makerspace in Sheridan County Wyoming"/>
  {% endblock %}

  {% block main_styles %}
    {#<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for("static", filename="img/favicon.ico") }}">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://get-spark.com/button-generator/css/sparky-button.min.css">
    <link rel="stylesheet" href="https://get-spark.com/button-generator/css/sparky-modal.min.css">
  {% endblock %}

  {% block styles %}
    {# template specific styles go here #}
  {% endblock %}

</head>
<body class="bg-faded">
{% block top_nav %}
  <nav id="topNav" class="navbar fixed-top navbar-expand-sm">
    <div class="container">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span>☰</span>
      </button>
      <a class="navbar-brand page-scroll" href="{{ url_for("Main.home") }}">PHORGE</a>
      <div class="collapse navbar-collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for("Main.home") }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for("Main.home") }}#who">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for("Main.home") }}#events">Events & Workshops</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for("Blog.home") }}">Blog/Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link page-scroll" href="{{ url_for("Main.home") }}#press">Press</a>
          </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item">
            {% if current_user.is_authenticated %}
              <a class="btn btn-primary" href="{{ url_for("admin.index") }}">Admin</a>
              <a class="btn btn-primary" href="{{ url_for("Main.logout") }}">Logout</a>
            {% else %}
              <a class="btn btn-primary" href="{{ url_for("Main.login") }}">Login</a>
            {% endif %}
          </li>

          <li class="navbar-brand">

            {#<img src="{{ url_for("static", filename="img/logo.png") }}" width="50" height="30" class="d-inline-block align-middle img-fluid" alt="">#}
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}

<div>
  {% block content %}
    {# content will go here #}
  {% endblock %}
</div>

{% block footer %}
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-12 column">
          <span class="float-right text-muted small">
            &copy; <script>document.write(new Date().getFullYear())</script> Phorge, Inc.
          </span>
        </div>
      </div>
    </div>
  </footer>
{% endblock %}

{% block main_scripts %}
  {# Main scripts needed for the whole site #}
  <script src="{{ url_for("static", filename="bower_components/jquery/dist/jquery.min.js") }}"></script>
  <script src="{{ url_for("static", filename="bower_components/bootstrap/dist/js/bootstrap.min.js") }}"></script>
  <script>
    $('a[href*="#"]').not('[href="#"]').click(function() {
      if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') || location.hostname == this.hostname) {
        var target = $(this.hash);
        target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
        if (target.length) {
          $('html,body').animate({
            scrollTop: target.offset().top
          }, 1000);
        return false;
        }
      }
    });
  </script>
{% endblock %}

{% block scripts %}
  {# template specific scripts go here #}
{% endblock %}
</body>
</html>
