
<p>
  Hello {{ reg.first_name }}! This email is to confirm your registration for the Phorge Makerspace <span style="font-weight:600">{{ event.title }}</span> event.
  To complete your registration please click the confirmation link below. You may reply to this email
  if you have any questions.
</p>

<p>
  <a href="{{ confirmation_link }}">{{ confirmation_link }}</a>
</p>

<p>
  <a href="http://phorge.co">Phorge Makerspace</a>
</p>
